*{
    font-family: 'Poppins', sans-serif;
    margin:0; 
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
 }
 
 .page{
    display: flex;
 }
 
 /* body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
 } */
 
 /* Listing add form */
 
 .container{
    display: flex;
    /* align-items: center;
    justify-content: center; */
    padding: 20px;
    margin-left: 80px;
    max-width: 80%;
 }
  
 .container h1{
    font-size: 30px;
    margin-bottom: 40px;
 }
 
 .container form{
    margin-left: 30%;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 850px;
 }
 
 .container form p{
    text-align: left;
    margin-left: 30px;
 }
 
 .container form input{
    width: 90%;
    padding:10px 15px;
    font-size: 12px;
    margin: 10px 0;
    background: #fff;
    border-radius: 5px;
    border: 1px solid;
 }
 
 .container form .topic{
    height: 30px;
 }
 
 .container form .description{
    height: 80px;
    padding: 0 0 50px 10px;
    /* word-break: break-all; */
 }
 
 .container form .sub1,
 .container form .sub2{
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
 }
 
 .container form .sub1 input{
    height: 30px;
 }
 
 .container form .sub1 p,
 .container form .sub2 p{
    margin: 0 10px;
 }
 
 .container form .sub2 .sub21 .address{
    height: 100px;
    padding: 0 0 50px 20px;
 }

 .container form .sub2 .sub22 p{
    padding-left: 10px;
 }
 
 .container form .sub2 .sub22 .uniName{
    height: 30px;
    margin-left: 10px;
 }
 
 .container form .sub2 .sub22 button{
    background: #1A285A;
    color: #fff;
    float: right;
    margin-right: 10px;
 }
 
 .container form i{
    height: 30px;
    font-size: 12px;
    width: 90%;
    border-radius: 5px;
    padding:10px 15px;
    margin: 10px 0;
    background: #fff;
    cursor: pointer;
    border: 1px solid;
 }
 
/*  .container form .image{ 
    display: none;
    visibility: none;
 } */ 
 
 /* display image names */
  /* .container form #display-image{
    height: 30px;
    font-size: 12px;
    width: 90%;
 } */
 
 label{
    font-size: 10px;
 }
 
 .container form .note{
    height: 30px;
 }
 
 .container form button{
    width: 120px;
    height: 35px;
    background: #FFBF42;
    border-radius: 50px;
    font-size: 15px;
 }

 .container form .submitbtn{
   margin-top: 150px;
 }
 
 .dropdown-menu{
   width: 150px;
}

.dropdown-menu .select-btn{
   display: flex;
   height: 30px;
   width: 150px;
   color: white;
   background-color: #1A285A;
   padding: 20px;
   margin: 5px 0 0 30px;
   font-size: 16px;
   border-radius: 20px;
   align-items: center;
   justify-content: space-between;
   cursor: pointer;
}

.dropdown-menu .select-btn i{
   color: white;
   background-color: #1A285A;
   width: 10px;
   border-color: #1A285A;
}

.dropdown-menu .options{
   position: relative;
   padding: 10px;
   border-radius: 8px;
   background: white;
   margin: 10px 0 0 30px;
   border-radius: 8px;
   list-style: none;
   box-shadow: 0 0 3px rgba(0,0,0,0.1);
   display: none;
   position: absolute;
   width: inherit;
}

.dropdown-menu.active .options{
   display: block;
   transition-duration: 0.4s;
}

.dropdown-menu .select-btn i{
   transition-duration: 0.4s;
}

.dropdown-menu.active .select-btn i{
   transform: rotate(-180deg);
}

.options .option{
   display: flex;
   height: 40px;
   cursor: pointer;
   position: relative;
   padding: 0px 16px;
   border-radius: 8px;
   align-items: center;
   background-color: white;
   justify-content: center;
   z-index: 1000;
}

.options .option:hover{
   background: #1A285A;
   color: white;
}

.option{
   font-size: 15px;
   color: black
}