*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.page{
    display: flex;
}

.yourprofile{
    display: flex;
    height: 35px;
    font-size: 18px;
    font-weight: 900;
    margin: 20px 0 10px 1000px;
}

.yourprofile a{
    display: flex;
    text-decoration: none;
    color: black;
    margin: 15px 30px;
    cursor: pointer;
}

.yourprofile i{
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 0 5px black;
    padding: 0.2em 0.4em 1.2em 0.4em;
    margin-left: 10px;
}
 
.count{
    width: 200px;
    height: 100px;
    margin: 30px 480px;
    padding: 20px;
    background: #1A285A;
    color: #fff;
    border-radius: 5px;
    text-align: center;
}

.count label{
    font-size: 25px;
}

.count p{
    margin-top: 5px;
    font-size: 30px;
}
  
.container{
    margin-left: 100px;
    max-width: 80%;
}

h1{
    font-size: 30px;
}

.container .head{
    display: flex;
    margin: 20px 0;
}

.container .head .add{
    width: 120px;
    height: 35px;
    background: #FFBF42;
    border-radius: 50px;
    font-size: 15px;
    margin-left: 850px;
}

.container .head .add a{
    text-decoration: none;
    color: black;
}

hr{
    justify-content: center;
    margin: 25px 30px 30px 0;
}

.container main{
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 50px 0 0;
}

.container main .item{
    width: 300px;
    /* flex: 1 1 210px; */
    background: #dee0e7;
    text-align: center;
    height: 380px;
    border: 1px solid lightgray;
    margin: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.container main .item .image{
    height: 50%;
    margin-bottom: 20px;
}

.container main .item .image img{
    padding: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container main .item .data{
    padding-left: 1em;
    text-align: left;
    line-height: 30px;
    height: 25%;
}

.container main .item .data .topic{
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.container main .item .data .uni{
    font-size: 15px;
    color: black;
}

.container main .item .data .price{
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.container main .item .data .price span{
    text-shadow: 1px 1px black;
    color: #FFBF42;
}




@media screen and (max-width: 1200px) {
    .container{
        justify-content: center;
        align-items: center;
    }

    .count{
        margin-left: 250px;
    }

    .container .head .add{
        min-width: 100px;
        font-size: 15px;
        margin-left: 75%;
    }
    
    .yourprofile{
        margin-left: 80%;
    }
}

@media screen and (max-width: 900px) {
    .container{
        justify-content: center;
        align-items: center;
    }

    .count{
        margin-left: 200px;
    }

    .container .head .add{
        min-width: 100px;
        font-size: 15px;
        margin-left: 50%;
    }
    
    .yourprofile{
        margin-left: 65%;
    }
}

@media screen and (max-width: 600px) {
    .count{
        margin: 50px 60px;  
    }

    .container{
        margin-left: 25px;
    }

    .container .head .add{
        width: 80px;
        font-size: 15px;
        margin-left: 100px;
    }
    
    .yourprofile{
        margin-left: 230px;
    }
   
}