*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.page{
    display: flex;
}

.container{
    margin-top: 15px;
    margin-left: 150px;
}

.container h2{
    margin-bottom: 20px;
}

.container .head i{
    color: black;
    cursor: pointer;
}

.container .head a{
    text-decoration: none;
}

.container .head{
    display: flex;
    margin: 20px 0;
}

h1{
    font-size: 45px;
    margin: 35px 300px;
}

.container .profile{
    display: flex;
}

.container .profile img{
    border-radius: 50%;
    object-fit: cover;
    width: 250px;
    height: 250px;
}

.container .profile .profile_image{
    position: absolute;
    background: #00B4FF;
    top: 360px;
    left: 200px;
    width: 32px;
    height: 32px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
}

.container .profile .profile_image input[type = "file"]{
    position: absolute;
    transform: scale(2);
    opacity: 0;
}

input[type = file]::-webkit-file-upload-button{
    cursor: pointer;
}

.container .profile .personal{
    margin: 45px 10px 0 100px;
}

.container .profile, .details span{
    line-height: 30px;
}

.container .details{
    margin-top: 40px;
    display: flex;
}

.container .details .contact{
    width: 500px;
}

.container .details .category_details{
    margin-left: 200px;
}

.container .details .category_details i{
    margin-right: 10px;
}