*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.page{
    display: flex;
}

.container{
    margin-top: 15px;
    margin-left: 150px;
}

.container h2{
    margin-bottom: 20px;
}

.container .head i{
    color: black;
    cursor: pointer;
}

.container .head a{
    text-decoration: none;
}

.container .head{
    display: flex;
    margin: 20px 0;
}

h1{
    font-size: 45px;
    margin: 35px 300px;
}

.detail_form{
    width: 1050px;
    height: 500px;
    padding: 10px;
    position: relative;
    border-radius: 10px;
    border: 1px solid black;
}

.container .profile{
    display: flex;
}

.container .profile img{
    border-radius: 50%;
    object-fit: cover;
    width: 250px;
    height: 250px;
}

.container .profile .profile_image{
    position: absolute;
    background: #00B4FF;
    top: 360px;
    left: 200px;
    width: 32px;
    height: 32px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
}

.container .profile .profile_image input[type = "file"]{
    position: absolute;
    transform: scale(2);
    opacity: 0;
}

input[type = file]::-webkit-file-upload-button{
    cursor: pointer;
}

.container .profile .personal{
    margin: 45px 10px 0 100px;
}

.container .profile, .details span{
    line-height: 30px;
}

.container .details{
    margin-left: 30px;
    margin-top: 40px;
    display: flex;
}

.container .details .contact{
    width: 500px;
}

.container .details .category_details{
    margin-left: 150px;
}

.container .details .category_details i{
    margin-right: 10px;
}




@media screen and (max-width: 1200px) {
    .head{
        white-space: nowrap;
    }

    .container{
        margin-left: 25px;
    }

    .detail_form {
        width: 90% ;
        justify-content: center;
        align-items: center;
    }

    h1{
        margin: 35px 200px;
        white-space: nowrap;
    }
}

@media screen and (max-width: 900px) {
    .head{
        white-space: nowrap;
    }
    
    .container{
        margin-left: 25px;
    }

    .detail_form {
        width: 70% ;
        height: 550px;
    }

    h1{
        margin: 35px 100px;
        white-space: nowrap;
    }
}
    
@media screen and (max-width: 600px) {
    .head{
        white-space: nowrap;
    }

    .detail_form {
        width: 55%;
        height: 800px;
    } 

    .container{
        margin-left: 30px;
    }

    h1{
        font-size: 30px;
        margin: 55px 0px 5px;
        white-space: nowrap;
    }

    .container .profile{
        display: block;
    }

    .container .profile .personal{
        margin: 45px 10px 0 30px;
    }

    .container .details{
        display: inline-block;
        margin-right: 0px;
        flex-direction: column;
    }

    .container .details .category_details{
        margin-left: 5px;
        margin-top: 30px;
    }
}

/* @media screen and (max-width: 900px) and (min-width: 600px){
    .detail_form{
        width: 100%;
    }
}

@media only screen and (min-width: 1000px){
    
} */