*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.page{
    display: flex;
}

.yourprofile{
    display: flex;
    height: 35px;
    font-size: 18px;
    font-weight: 900;
    margin: 0 0 10px 1000px;
}

.yourprofile a{
    display: flex;
    text-decoration: none;
    color: black;
    margin: 15px 30px;
    cursor: pointer;
}

.yourprofile i{
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 0 5px black;
    padding: 0.2em 0.4em 1.2em 0.4em;
    margin-left: 10px;
}

.container{
    margin-top: 15px;
    margin-left: 50px;
}

.report{
    margin-top: 15px;
}

/* Information */
.div4{
    width: 1100px;
    height: 680px;
    margin: 3% 5%;   
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    justify-content: center;
    background-color:#dee0e7;
    display: flex;
}

.div5{
    width: 78%;
    height: 95%;
    margin-top: 1.5%;
    padding-top: 10px;
    /* overflow-y: scroll;
    box-shadow: 1px 1px; */
    border-radius: 5px;
    background-color: white; 
}

.div6{
    width: 18%;
    height: 100%;
    padding: 3% 3%;
}

h2{
    margin-top: 5px;
    font-weight: 600;
}

/* .subdiv{
    display: flex;
} */

.subdiv h2{
    margin-top: 15px;
}

.sub1{
    width: 200px;
    height: 110px;
    background-color:#1A285A;
    border-radius: 10px;
    margin-left: 350px;
    border: 1px solid;
    color: #f0f2f7;
}

/* .sub1:hover{
    color: #f0f2f7;
    background-color:#1A285A;
    transition-duration: 0.6s;
}
 */

.listing{
    display: flex;
    margin-top: 10px;
    margin-left: 140px;
}

.sub2, .sub3, .sub4{
    width: 180px;
    height: 110px;
    background-color:#f0f2f7;
    border-radius: 10px;
    margin-left: 2.5%;
    border: 1px solid;
}

/* .sub2:hover{
    color: black;
    background-color:#f0f2f7;
    transition-duration: 0.6s;
} */
/* 
.sub3{
    width: 20%;
    height: 100px;
    background-color:#f0f2f7;
    border-radius: 10px;
    margin-left: 2.5%;
    border: 1px solid;
}
 */
/* .sub3:hover{
    color: #f0f2f7;
    background-color:#1A285A;
    transition-duration: 0.6s;
} */


.drop1{
    width: 80%;
    padding: 0.5%;
    border-radius: 15px;
    background-color:  #1A285A;;
    color: white;
    height: 5%;
    margin-top: 10%;
}

.drop2{
    width: 80%;
    padding: 0.5%;
    border-radius: 15px;
    background-color:  #1A285A;;
    color: white;
    height: 5%;
    margin-top: 15%;
}

.download{
    width: 80%;
    position: relative;
    padding: 0.2%;
    border-radius: 15px;
    height: 5%;
    margin-top: 300%;
    background-color: gold;
}

@media screen and (max-width: 1200px) {
    .div4{
        display: block;
        width: 120%;
        height: 680px;
        padding: 2% 2%;
    }

    .subdiv {
        width: 100%;
    }

    .div5{
        width: 100%;
        height: 90%;
    }

    .div6 {
        width: 100%;
        margin-top: -15%;  
    }

    .sub1 {
        width: 30%;
    }

    .sub2 {
        width: 30%;
    }
    .sub3 {
        width: 30%;
    }

    .drop1 {
        width: 20%;
        padding: 0.2%;
        border-radius: 15px;
        background-color:  #1A285A;;
        color: white;
        height: 5%;
        margin-left: -7%;
    }
    
    .drop2 {
        width: 20%;
        padding: 0.2%;
        border-radius: 15px;
        background-color:  #1A285A;;
        color: white;
        height: 5%;
    }
    
    .download {
        width: 20%;
        padding: 0.2%;
        border-radius: 15px;
        height: 5%;
        margin-top: -5%;
        margin-left: 15%;
    } 
}

@media screen and (max-width: 1000px) {
    .div4{
        display: block;
        width: 120%;
        height: 680px;
        padding: 2% 2%;
    }

    .subdiv {
        width: 100%;
    }

    .sub1 {
        width: 30%;
    }

    .sub2 {
        width: 30%;
    }
    .sub3 {
        width: 30%;
    }

    h2{
        font-size: 12px;
    }

    .div5{
        width: 100%;
        height: 90%;
    }
    .div6 {
        width: 100%;
        margin-top: -15%; 
    }

    .drop1 {
        width: 20%;
        padding: 0.2%;
        border-radius: 15px;
        background-color:  #1A285A;;
        color: white;
        height: 5%;
        margin-left: -7%; 
    }
    
    .drop2 {
        width: 20%;
        padding: 0.2%;
        border-radius: 15px;
        background-color:  #1A285A;;
        color: white;
        height: 5%;
    }
    
    .download {
        width: 25%;
        padding: 0.2%;
        border-radius: 15px;
        height: 5%;
        margin-top: -5%;
        margin-left: 15%;
    }
}