*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.page{
    display: flex;
}

.yourprofile{
    display: flex;
    height: 35px;
    font-size: 18px;
    font-weight: 900;
    margin: 20px 0 10px 1300px;
}

.yourprofile a{
    display: flex;
    text-decoration: none;
    color: black;
    margin: 15px 30px;
    cursor: pointer;
}

.yourprofile i{
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 0 5px black;
    padding: 0.2em 0.4em 1.2em 0.4em;
    margin-left: 10px;
}