*{
    font-family: 'Poppins', sans-serif;
    margin:0; 
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
 }
  
 .page{
    display: flex;
 }
 
 .formContainer{
    width: 70%;
    margin: 30px 20px 20px 360px;
    display: flex;
 }
 
 .left_side{
    margin-top: 40px;
 }
 
 .preview img{
    border: 1px solid;
    padding: 1px;
    width: 400px;
    height: 250px;
 }
 
 .thumbnails img{
    height: 60px;
    width: 80px;
    border: 1px solid;
    padding: 1px;
    margin: 0 10px 10px 0;
    cursor: pointer;
 }
 
 .contact{
    margin-top: 40px;
    line-height: 30px;
 }
 
 .contact span{
    font-size: 15px;
    font-weight: bold;
 }
 
 .map{
    margin-top: 20px;
    border: 1px solid;
    width: 402px;
    height: 252px;
    object-fit: cover;
 }
 
 .right_side{
    margin: 0 50px;
    padding-left: 50px;
 }
 
 .right_side .topic span{
    font-size: 25px;
    margin: 20px 20px 20px 30px;
    color: black;
 }

 .right_side .topic span i{
   color: black;
 }
 
 .right_side .topic span i:nth-child(1){
    margin-right: 15px;
    cursor: pointer;
 }
 
 .right_side .topic span i:nth-child(2){
    cursor: pointer;
 }
 
 .right_side h8{
    font-size: 15px;
 }
 
 .right_side .description{
    margin-top: 30px;
    line-height: 25px;
 }
 
 .right_side p{
    line-height: 50px;
 }
 
 .right_side .address span{
    font-weight: bold;
 }
 
 .right_side .price{
    font-size: 20px;
    color: black;
    font-weight: bold;
 }
 
 .right_side .price span{
    color: #FFBF42;
 }
 
 .right_side .review{
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
 }
 
 .right_side .review .feedback{
    width: 450px;
    height: 40px;
    padding: 5px;
    background: #ccc;
    border-radius: 5px;
    border: 1px solid;
    align-items: center;
    margin: 10px 0;
 }
 
 .right_side .review .rating{
    display: flex;
    top: 425px;
    transform: translate(-76%, -25%) rotateY(180deg);
 }
 
 .right_side .review .rating input{
    display: none;
 }
 
 .right_side .review .rating label{
    display: block;
    cursor: pointer;
    width: 25px;
 }
 
 .right_side .review .rating label:before{
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 20px;
    color: #101010;
 }
 
 .right_side .review .rating label:after{
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 20px;
    color: #FFBF42;
    top: 0;
    opacity: 0;
    transition: .5s;
    text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
 }
 
 .right_side .review .rating label:hover:after,
 .right_side .review .rating label:hover ~ label:after,
 .right_side .review .rating input:checked ~ label:after{
    opacity: 1;
 }