@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    display: grid;
    /* background-color: cadetblue; */
    font-size: 16px;
    grid-template-columns: 2fr 9fr;
}

.section{
    padding: 20px;
    /* background-color: aquamarine; */
    text-align: center;
    /* border: 1px solid rebeccapurple */
}

#page-content{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.section-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
}

#section-header h1{
    display: inline-block;
    margin-top: 3rem;
    font-size: 2.5rem;
}

.mark-all{
    justify-self: end;
    /* margin-top: 1rem; */
    padding: .7rem;
    /* height: 2rem; */
    color: black;
    background-color: #FFBF42;
    font-size: 1rem;
    border: none;
    border-radius: 30px;
    /* margin-top: 20px; */
    font-weight: bold;
    cursor: pointer;
    /* transform: translateY(-25%); */
    
}

.complaint-box-1,.complaint-box-2{
    margin-top: 1.5rem;
    height: 350px;
    overflow: auto;
}

.complaint-box-1::-webkit-scrollbar, .complaint-box-2::-webkit-scrollbar{
    width: 0.7rem; /* set the width of the scrollbar */
    margin-left: 0.4rem;
}


.complaint-box-1::-webkit-scrollbar-thumb, .complaint-box-2::-webkit-scrollbar-thumb {
  background-color: gray; /* set the color of the thumb */
  border-radius: 5px; /* round the edges of the thumb */
  height: 15px;
}

.complaint-box-1::-webkit-scrollbar-track, .complaint-box-2::-webkit-scrollbar-track{
  background-color: lightgray; /* set the color of the track */
  border-radius: 5px;
  height: 50px;
}

.complaint-box-1::-webkit-scrollbar-button, .complaint-box-2::-webkit-scrollbar-button {
    display: hidden;
    height: 60px;
  }

h4{
    margin-top: 6rem;
    font-size: 4rem;
    color: rgba(0, 0, 0, 0.15)
}

.complaint{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.complaint h4{
    font-weight: 800;
}

.complaint-body{
    width: 100%;
    background-color: gainsboro;
    border-radius: 10px;
    display: flex;
    margin-top: 1rem;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
}


#leading-icon{
    align-self: flex-start;
    font-size: 1rem;
    margin-top: 0.3rem;
    opacity: 0.5;
}

.complaint-body p{
    text-align: justify;
    padding-right: 1rem;
    width: 80%;
    font-size: .9rem;
}

.meta-data{
    margin-top: 0.5rem;
    font-size: 0.7rem;
}

.message{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-self: start;
}

.complaint-body i{
    margin-right: 2rem;
    font-size: 1.5rem;
}

.complaint-body {
    display: flex;
    align-items: center;
    margin-right: -1rem; /* remove gap between the first two items */
  }
  
  .complaint-body #leading-icon {
    margin-right: 1rem; /* add margin-right to the leading icon */
  }
  
  .complaint-body .message {
    margin-right: 1rem; /* add margin-right to the message body */
  }
  
  .complaint-body .fa-circle-check {
    margin-left: auto; /* push the last icon to the end of the row */
  }


