*{
   margin:0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Inter';
}

body{
   display: flex;
   min-height: 100vh;
   background: white;
}
  
 .page{
    display: flex;
    background-color: #b3b2b2;
    
 }
 
 .container{
    width: fit-content;
    display: flex;
    background-color: #fff;
    padding: 40px;
    height: fit-content;
 }
 
 .rating{
  font-size: 25px;
  font-weight: bold;
  color: #1A285A;
 }


 
 .preview img{
    
    padding: 1px;
    width: 400px;
    height: 250px;
 }
 
 .thumbnails img{
    height: 60px;
    width: 80px;
    padding: 1px;
    margin: 0 10px 10px 0;
    cursor: pointer;
 }
 
 .contact{
    margin-top: 40px;
    line-height: 30px;
 }
 a { 
  color: inherit;
  text-decoration: inherit; 
}
 .contact span{
    font-size: 15px;
    font-weight: bold;
 }
 
 .map{
    margin-top: 20px;
   
    width: 402px;
    height: 252px;
    object-fit: cover;
 }
 
 .right_side{
    padding-left: 50px;
 }
 
 .right_side .topic span{
    font-size: 25px;
    margin: 20px 20px 20px 30px;
    color: black;
 }

 .right_side .topic span i{
   color: black;
 }
 
 .right_side .topic span i:nth-child(1){
    margin-right: 5px;
    cursor: pointer;
 }
 
 .right_side .topic span i:nth-child(2){
    cursor: pointer;
 }
 
 .right_side h8{
    font-size: 15px;
 }
 
 .right_side .description{
    margin-top: 30px;
    line-height: 25px;
 }
 
 .right_side p{
    line-height: 50px;
 }
 
 .right_side .address span{
    font-weight: bold;
 }
 
 .right_side .price{
    font-size: 25px;
    color: black;
    font-weight: bold;
 }
 
 .right_side .price span{
    color: #FFBF42;
 }
 
 .right_side .review{
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
 }
 
 .right_side .review .feedback{
    width: 450px;
    height: 500px;
    padding: 5px;
    background: #ffffff;
    border-radius: 5px;
    align-items: center;
    margin: 10px 0;
    color: #1A285A;
    font-weight: 600;
    line-height: 1.5;
    overflow-y: scroll;
 }
 
 
.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  
  }
  
  
  .rating > input{ display:none;}
  
  .rating > label {
  position: relative;
  width: 1.1em;
  font-size: 30px;
  color: #1A285A;
  cursor: pointer;
  
  }
  
  .rating > label::before{
  content: "\2605";
  position: absolute;
  opacity: 0;
  }
  
  .rating > label:hover:before,
  .rating > label:hover ~ label:before {
  opacity: 1 !important;
  }
  
  .rating > input:checked ~ label:before{
  opacity:1;
  }
  
  .rating:hover > input:checked ~ label:before{ opacity: 0.4; }



 
 .home_content{
   position: absolute;
   height: fit-content;
   width: calc(100%-78px);
   left: 78px;
   transition: all 0.5s ease;
   background-color: #b3b2b2;
   display: flex;
   justify-content:center ;
   width: 100vw;
 }
 
 .sidebar.active ~ .home_content{
   width: calc(100%-240px);
   left: 240px;
   width: 90vw;
 }

 a { 
   color: inherit;
   text-decoration: inherit; 
 }
 
 
img{
   object-fit:cover;
}

iframe {
  width: 100%;
  height: 400px;
  border: none;
  margin: 20px 0;
  border-radius: 20px;
}

#myImage,#image3{
  width:50px;
  height:50px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 50%;
}

#facility_img{
  width:50px;
  height:50px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 50%;
}

textarea{
  background-color: rgb(230, 230, 230);
  border: none;
  border-radius: 15px;
  margin-top:10px;
  padding: 15px;
  color: #1A285A;
  resize:vertical;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.btn {
  background: #1A285A;
  background-image: -webkit-linear-gradient(top, #1A285A, #1A285A);
  background-image: -moz-linear-gradient(top, #1A285A, #1A285A);
  background-image: -ms-linear-gradient(top, #1A285A, #1A285A);
  background-image: -o-linear-gradient(top, #1A285A, #1A285A);
  background-image: linear-gradient(to bottom, #1A285A, #1A285A);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 7px 15px 7px 15px;
  text-decoration: none;
  border-width: 0px;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.btn2 {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: Arial;
  color: #757575;
  font-size: 14px;
  font-weight: bold;
  padding: 7px 15px 7px 0px;
  text-decoration: none;
  border-width: 0px;
}

.btn2:hover {
  background: #fd4f3c;
  background-image: -webkit-linear-gradient(top, #fd4f3c, #fd4f3c);
  background-image: -moz-linear-gradient(top, #fd4f3c, #fd4f3c);
  background-image: -ms-linear-gradient(top, #fd4f3c, #fd4f3c);
  background-image: -o-linear-gradient(top, #fd4f3c, #fd4f3c);
  background-image: linear-gradient(to bottom, #fd4f3c, #fd4f3c);
  text-decoration: none;
  padding: 7px 15px 7px 15px;
  color: #fff;
}


.other_comment{
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 20px;
  background-color: rgb(230, 230, 230);
  margin-bottom: 10px;
}

.feedback_details{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.posted-date{
  color: #1A285A;
  font-size: 12px;
  margin-left: 10px;
}

.feedback_comment{
  color: #1A285A;
  font-size: 14px;
  
}

.helpful{
  display: flex;
  flex-direction: column;
  color: #1A285A;
  font-size: 12px;
  font-weight: 500;
  align-items: flex-start;
}

.feedback_comment{
  height: fit-content;
}
.feedback_comment p{
  color: #1A285A;
  font-size: 14px;
  line-height: 1.5;
}

input[type=radio]{
  padding: 5px;
}

.radio-group{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #fffdfd; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #1A285A; 
  border-radius: 10px;
  width: 8px;
  height: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1A285A; 
}

#listing_id{
  display: none;
}

.facility-details{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 10px;
}

.facility-image, .facility-name{
  display: flex;
  align-items: center;
  margin-right: 10px;
}

/* The Modal (background) */
  
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* dark overlay */
    z-index: 1; /* make the overlay appear above other elements */
  }
  
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 2; /* make the popup appear above the overlay */
  }
  
  .exit-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    color: black;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 3; /* make the close button appear above the popup */
  }

  .heading{
    font-size: 1.5rem;
    font-weight: 600;
    color: #1A285A;
    margin-bottom: 1rem;
  }
  .desc-name{
    font-size: 1rem;
    font-weight: 600;
    color: #1A285A;
    margin-bottom: 1rem;
  }
  .text textarea{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 20px;
    background-color: #f8f8f8;
    font-size: 13px;
    resize: none;
  }

  .submit{
    padding: 10px 20px;
    text-align: center;
  }
