*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body{
    display: flex;
    min-height: 100vh;
    background: white;
}

.month{
  padding-right: 10px;
  color: #929292;
}

.week{
  padding-right: 10px;
  
  color: #1A285A;

}

.daily{
  padding-right: 10px;
  color: #929292;
}
.container{
    display: grid;
    grid-template-rows:40px 40px auto;
    width: 90vw;
    margin-top: 30px;
}

.row1{
    display: grid;
    align-items: center;
    color: #1A285A;
    margin-left: 2%;
}

.row2{
    display: grid;
    width: 100vw;
    color: #1A285A;
    margin-top: 20px;
    
}

.row2 .flex{
    margin-left: 2%;
    display: flex;
    padding-right: 30px;
}

.flex >*{
  width: 8%;
}

.row3{
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    text-align: center;
    width: 90vw;
    margin-top: 2%;
    color: #1A285A;
    height: 50vh;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tasks{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}


.btn {
    background: #FFBF42;
    background-image: -webkit-linear-gradient(top, #FFBF42, #FFBF42);
    background-image: -moz-linear-gradient(top, #FFBF42, #FFBF42);
    background-image: -ms-linear-gradient(top, #FFBF42, #FFBF42);
    background-image: -o-linear-gradient(top, #FFBF42, #FFBF42);
    background-image: linear-gradient(to bottom, #FFBF42, #FFBF42);
    -webkit-border-radius: 29;
    -moz-border-radius: 29;
    border-radius: 29px;
    font-family: Arial;
    color: #030203;
    font-size: 1.25rem;
    background: #FFBF42;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    box-shadow: 0 5px 20px 0 #B9B9B9;
  }
  
  .btn:hover {
    background: #f5f5f5;
    background-image: -webkit-linear-gradient(top, #f5f5f5, #ededed);
    background-image: -moz-linear-gradient(top, #f5f5f5, #ededed);
    background-image: -ms-linear-gradient(top, #f5f5f5, #ededed);
    background-image: -o-linear-gradient(top, #f5f5f5, #ededed);
    background-image: linear-gradient(to bottom, #f5f5f5, #ededed);
    text-decoration: none;
  }



  

  hr{
    height: 5px;
    margin: 0px;
    color: #1A285A;
    background: #1A285A;
    width: 7.7vw;
  }

  .rest{
    height: 5px;
    margin: 0px;
    color: #929292;
    background: #929292;
    width: 90vw;
  }

  .home_content{
    position: absolute;
    height: 100%;
    width: calc(100%-78px);
    left: 78px;
    transition: all 0.5s ease;
  }
  
  .sidebar.active ~ .home_content{
    width: calc(100%-240px);
    left: 240px;
  }

  a { 
    color: inherit;
    text-decoration: inherit; 
  }

  
  .task{
    padding: 10px;
    border-radius: 12px;
    width: 10vw;
    height: fit-content;
    margin-bottom: 10px;

    }
  
  .col-1 , .col-2 , .col-3 , .col-4 , .col-5 , .col-6 , .col-7 , .col-8 , .col-9 , .col-10 , .col-11 , .col-12{

    color: #1A285A;
    background-color: #fff;
    width: 246px;
    border-style: solid;
    border-width: 1px;
    border-color: #e7e6e6;
    border-radius: 5px;
    justify-content: center;
    height: 80vh;
    margin-top: 10px;
    }

    .day{
      margin-top: 20px;
    }

    .time{
      font-weight: bold;
    }

    .desc{
      font-size: large;
    }

    #completed{
      text-decoration: line-through;
      color: #8f8f8f;
      border-style: solid;
      border-width: 1px;
      border-color: #8f8f8f;
    }