.container{
    position: absolute;
    width: 90%;
    margin-left: -4%;
}

.start{
    text-decoration: none;
    color: white;
}

.complete{
  text-decoration: none;
  color: white;
}


.topic{
    margin-left: 12%;
    margin-top: 1.5%;
}

hr{
    margin-left: 12%;
    margin-top: 1%;
    width: 100%;
    background-color: rgb(187, 185, 185);
    color: rgb(187, 185, 185);
   
}

.go{
    margin-left: 12%;
    margin-top: 2.5%;
    margin-bottom: 2%;
    font-weight: 700;
    cursor: pointer;
  }

.content{
    background-color: white;
    margin-left: 12%;
    margin-top: 2%;
    margin-bottom: 5%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    width: 100%;
    height: 75%;
    border-radius: 10px;
}

.day{
    padding: 1% 1%;
    text-align: right;
}

.clickedDate{
    font-weight: 600;
}

.hr1{
    width: 95%;
    margin-left: 2.5%;
}

.main{
    display: flex;
}

.left{
    width: 60%;
}

.app{
    width: 90%;
    height: 70px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
    padding: 0.5% 0.5%;
    text-align: center;
    margin: 4% 2%;
    align-content: space-between;
    display: flex;
}

.appCancel{
    width: 90%;
    height: 70px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
    padding: 0.5% 0.5%;
    text-align: center;
    margin: 4% 2%;
    align-content: space-between;
    display: flex;
    z-index: 1;
    opacity: 0.6;
}

.appComplete{
  width: 90%;
  height: 70px;
  background-color: lightgreen;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 10px;
  padding: 0.5% 0.5%;
  text-align: center;
  margin: 4% 2%;
  align-content: space-between;
  display: flex;
  z-index: 1;
  opacity: 0.6;
}

.Noapp{
    width: 90%;
    height: 70px;
    font-size: 20px;
    font-weight: 500;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
    padding: 0.5% 0.5%;
    text-align: center;
    margin: 4% 2%;
    align-content: space-between;
    display: flex;
}
.time{
    text-align: center;
    margin-top: 4%;
    margin-left: 1%;
}

.btnImage{
    border-radius: 50px;
    cursor: pointer;
    width: 62px;
    height: 62px;
    border: none;
   
}

.btnImage:hover{
    transition-duration: 0.6s;
    background-color: #1A285A;
}

.image{
    text-align: center;
    margin-left: 3%;
}

.name{
    text-align: center;
    margin-top: 4%;
    margin-left: 1%;
}

.imgg{
    width: 55px;
    height: 55px;
    border-radius: 100%;
    margin-top: 1%;
    margin-left: 2.7%;
}

.btn {
    cursor: pointer;
    background: #1A285A;
    background-image: -webkit-linear-gradient(top, #1A285A, #1A285A);
    background-image: -moz-linear-gradient(top, #1A285A, #1A285A);
    background-image: -ms-linear-gradient(top, #1A285A, #1A285A);
    background-image: -o-linear-gradient(top, #1A285A, #1A285A);
    background-image: linear-gradient(to bottom, #1A285A, #1A285A);
    -webkit-border-radius: 40;
    -moz-border-radius: 40;
    border-radius: 30px;
    font-family: 'Inter';
    color: #ffffff;
    font-size: 17px;
    font-weight: 300;
    padding: 2px 4px;
    height: 40px;
    width: 140px;
    text-decoration: none;
    border: none;
    margin-left: 15%;
    margin-top: 2%;
}

.btn-class{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  margin-left: 2%;
  margin-top: 2%;
}

.divBtn{
    margin-left: 5%;
    margin-top: 1.5%;
}


.right{
    width: 40%;
    text-align: center;
}

.stu{
    width: 350px;
    height: 450px;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    text-align: center;
    background-color: white;
    margin: 8% 15%;
}

.imagePP{
    
}

.imggPPP{
    width: 110px;
    height: 110px;
    border-radius: 100%;
    margin-top: 4%;
}

.address{
    margin-top: 4%;
    margin-bottom: 4%;
}

.hr2{
    width: 90%;
    color:#1A285A;
    text-align: center;
    justify-content: center;
    margin-left: 5%;
}

.detail{
    margin-top: 7%;
    margin-left: 3%;
    text-align: left;
}

.dob{
    margin-top: 6%;
    text-align: left;
    margin-left: 3%;
}

.email{
    margin-top: 5%;
    text-align: left;
    margin-left: 3%;
}

.uni{
    margin-top: 5%;
    text-align: left;
    margin-left: 3%;
}
.note{
    margin-top: 5%;
    text-align: left;
    margin-left: 3%;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    display: grid;
    grid-gap: 15px;
    padding: 100px;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 20%; /* Could be more or less, depending on screen size */
    border-radius: 20px;
  }
  
    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        width: 5%;
      }
      
      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }

  .btnStart {
    background: #1A285A;
    background-image: -webkit-linear-gradient(top, #1A285A, #1A285A);
    background-image: -moz-linear-gradient(top, #1A285A, #1A285A);
    background-image: -ms-linear-gradient(top, #1A285A, #1A285A);
    background-image: -o-linear-gradient(top, #1A285A, #1A285A);
    background-image: linear-gradient(to bottom, #1A285A, #1A285A);
    -webkit-border-radius: 40;
    -moz-border-radius: 40;
    border-radius: 40px;
    font-family: 'Inter';
    color: #ffffff;
    font-size: 17px;
    font-weight: 300;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
  }

  .btnStart:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
    border: none;
  }
  
  .btnCom{
    background: #1A285A;
    background-image: -webkit-linear-gradient(top, #1A285A, #1A285A);
    background-image: -moz-linear-gradient(top, #1A285A, #1A285A);
    background-image: -ms-linear-gradient(top, #1A285A, #1A285A);
    background-image: -o-linear-gradient(top, #1A285A, #1A285A);
    background-image: linear-gradient(to bottom, #1A285A, #1A285A);
    -webkit-border-radius: 40;
    -moz-border-radius: 40;
    border-radius: 40px;
    font-family: 'Inter';
    color: #ffffff;
    font-size: 17px;
    font-weight: 300;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
  }

  .btnCom:hover{
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
    border: none;
  }
  
  #removeBtn{
    background: #7e2222;
    background-image: -webkit-linear-gradient(top, #7e2222, #7e2222);
    background-image: -moz-linear-gradient(top, #7e2222, #7e2222);
    background-image: -ms-linear-gradient(top, #7e2222, #7e2222);
    background-image: -o-linear-gradient(top, #7e2222, #7e2222);
    background-image: linear-gradient(to bottom, #7e2222, #7e2222);
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 40px;
  
    font-family: 'Inter';
    color: #ffffff;
    font-size: 17px;
    padding: 8px 20px 10px 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
  }
  
  #removeBtn:hover {
    background: #e1c827;
    background-image: -webkit-linear-gradient(top, #f2c23d, #f2c23d);
    background-image: -moz-linear-gradient(top, #f2c23d, #f2c23d);
    background-image: -ms-linear-gradient(top, #f2c23d, #f2c23d);
    background-image: -o-linear-gradient(top, #f2c23d, #f2c23d);
    background-image: linear-gradient(to bottom, #f2c23d, #f2c23d);
    text-decoration: none;
    color: black;
  }


  /* styling for cancelling appointment modal */


  .detCancel{
    font-weight: 500;
  }
  
  textarea{
    width: 100%;
    height: 80%;
    resize: none;
    border-radius: 5px;
    border: 1px solid #878787;
  }
  
  /* The Modal (background) */
  .modalCancel {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modalCancel-content {
    display: grid;
    grid-gap: 10px;
    padding: 20px;
    background-color: #fefefe;
    margin-left: 30%;
    margin-top: 5%;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    border-radius: 20px;
  }
  
  /* The Close Button */
  .closeC {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    width: 5%;
  }
  
  .closeC:hover,
  .closeC:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  
#removeBtnC{
  background: #7e2222;
  background-image: -webkit-linear-gradient(top, #7e2222, #7e2222);
  background-image: -moz-linear-gradient(top, #7e2222, #7e2222);
  background-image: -ms-linear-gradient(top, #7e2222, #7e2222);
  background-image: -o-linear-gradient(top, #7e2222, #7e2222);
  background-image: linear-gradient(to bottom, #7e2222, #7e2222);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 40px;
  width: 45%;
  height: 40px;
  margin-left: 26%;
  margin-top: -5%;
  padding: 5px;
  font-family: 'Inter';
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  border: none;
  position: relative;
  cursor: pointer;
}

#removeBtnC:hover {
  background: #7e1c82;
  background-image: -webkit-linear-gradient(top, #f2c23d, #f2c23d);
  background-image: -moz-linear-gradient(top, #f2c23d, #f2c23d);
  background-image: -ms-linear-gradient(top, #f2c23d, #f2c23d);
  background-image: -o-linear-gradient(top, #f2c23d, #f2c23d);
  background-image: linear-gradient(to bottom, #f2c23d, #f2c23d);
  text-decoration: none;
  color: black;
}

#error {
  color: red;
  font-size: 12px;
}

  .form-field{
    width: 100%;
    margin-top: 0%;
    display: block;
  }
  
  .form-field[data-error] input{
    border-color: #c92432;
    color: #c92432;
    background: #fffafa;
    
  }
  
  .form-field[data-error]::after{
    content: attr(data-error);
    color: #fa3e4d;
    font-size: 12px;
    text-align: center;
    margin-bottom: -5%;
    
  }