
  
  /* home section */
  
  
  .divSection{
    
      justify-content: center;
      margin-left: 4%;
      margin-top: 1%;
      align-items: center;
      position: relative;
  
  }
  
  .subTopic{
      font-size: 28px;
      margin-left: 3%;
      margin-top: 0%;
  }
  
  .row1{
      height: 320px;
      display: flex;
      
  }

  .subb{
    font-size: 20px;
  }
  
  .row1div1{
      width: 350px;
      height: 220px;
      background-color: white;
      margin: 3% 3%;
      border-radius: 15px;
      border: 1px solid black;
      text-align: center;
  }

  .row1div1:hover {
    transform:scale(1.2) ;
    transition-duration: 0.7s;
  }

  .pie{
    margin-left: 15%;
    margin-top: -11%;
  }



  .piechart {

    width: 150px;
    height: 140px;
  }
  
  .barchart {

    width: 220px;
    height: 140px;
  }
  
  .row1div2{
      width: 350px;
      height: 220px;
      background-color: #1A285A;;
      margin: 3% 3%;
      border-radius: 15px;
      border: 1px solid black;
      color: white;
      text-align: center;
  }

  .row1div2:hover {
    transform:scale(1.2) ;
    transition-duration: 0.7s;
  }

  .cont{
    font-size: 18px;
    font-weight: 500;
  }
  
  .row1div3{
      width: 350px;
      height: 220px;
      background-color: white;
      margin: 3% 3%;
      border-radius: 15px;
      border: 1px solid black;
      text-align: center;
  }

  .row1div3:hover {
    transform:scale(1.2) ;
    transition-duration: 0.7s;
  }
  
  .row2{
      height: 210px;
      display: flex;
  }
  
  h2{
      color: black ;
      margin-left: 5px;
      display: inline;
      font-size: 25px;
  
  }
  
  .row2div1{
      width: 150px;
      height: 120px;
      background-color:#7381b7;
      margin: 2.5% 4%;
      float: left;
      border-radius: 15px;
      color: white;
      font-weight: bolder;
      font-size: 27px;
      text-align: center;
      padding: 3%;

  }

  .noappR{
    height: 120px;
    width: 40%;
    background-color:#7381b7;
    margin: 2.5% 4%;
    float: left;
    border-radius: 15px;
    color: white;
    text-align: center;
    
  }

  .noappP{
    margin-top: 5%;
    text-align: center;
    padding: 3% 3%;
    font-size: 20px;
    font-weight: 500;
  }

  .noappR:hover {
    transform:scale(1.2) ;
    transition-duration: 0.7s;
  }

  .row2div1:hover {
    transform:scale(1.2) ;
    transition-duration: 0.7s;
  }
  
  
  
  .row3{
      justify-content: space-between;
  }
  
  .row3div1{
      height: 30%px;
      width: 95%;
      margin-left: 3%;
      margin-top: 2%;
      overflow: auto;
      background-color: #f0f2f7;
  }
  
.noNotifi{
  width: 90%;
  height: 70px;
  font-size: 20px;
  font-weight: 500;
  background-color: white;
  border-radius: 10px;
  padding: 0.5% 0.5%;
  text-align: center;
  margin: 4% 2%;
  align-content: space-between;
  display: flex;
}

  span{
    display: flex;
    padding: 2% 2%;
  }
  
  
  .row3div2{
      width: 80%;
      height: 15%;
      margin-top: -0.3%;
      margin-left: 2%;
      background-color: #fff;
      border-radius: 10px;
      font-weight:500;
      text-align:left;
      padding: 0.3%;
      
  }

  .row3div2:hover {
    background-color:#1A285A ;
    color: white;
    transition-duration: 0.7s;
  }


  
  
  
  @media screen and (max-width:1200px) {

        .row1{
          width: 100%;
      
        }

        .row2{
          height: 200px;
          margin-bottom: -20px;
        }

        
        .row1div1{
          
          width: 220px;
          height: 160px;
          margin: 3% 3%;
          border-radius: 15px;
        }
        .row1div2{
          width: 220px;
          height: 160px;
          margin: 3% 3%;
          border-radius: 15px;
        }
        .row1div3{
          width: 220px;
          height: 160px;
          margin: 3% 3%;
          border-radius: 15px;
        }

        .piechart {

          width: 100px;
          height: 80px;
        }
    
        .barchart {

          width: 100px;
          height: 80px;
        } 

        .row2div1{
          width: 100px;
          height: 100px;
          background-color:#1A285A;
          margin-right: 2%;
          float: left;
          padding: 1%;
          font-size: 22px;
    
      }

      .row3div1{
        height: 200px;
        width: 70%;
        background-color:#f0f2f7;
        margin-left: 3%;
        margin-top: 2%;
        overflow-y: scroll;
    }

      
  
  }
  
  @media screen and (max-width: 900px) {
    
    .row1{
      width: 100%;
      margin-left: 2%;
  
    }
    .row1div1{
      
      width: 150px;
      height: 160px;
      margin: 1% 1%;
      border-radius: 15px;
    }
    .row1div2{
      width: 150px;
      height: 160px;
      margin: 1% 1%;
      border-radius: 15px;
    }
    .row1div3{
      width: 150px;
      height: 160px;
      margin: 1% 1%;
      border-radius: 15px;
    }

    .piechart {

      width: 100px;
      height: 80px;
    }

    .barchart {

      width: 100px;
      height: 80px;
    } 

    .row2div1{
      width: 65px;
      height: 65px;
      background-color:#1A285A;
      margin-right: 0%;
      float: left;
      padding: 1%;
      font-size: 14px;

    }

    .row3div1{
      height: 200px;
      width: 45%;
      background-color:#f0f2f7;
      margin-left: 3%;
      margin-top: 2%;
      overflow-y: scroll;
    }
      
      
  }
  