/* information */

body{
  height: fit-content;
  padding-bottom: 1%;
  overflow-y: auto;
}

  a{
    font-size: 16px;
  }

  .topic{
    margin-left: 6%;
    margin-top: 1.5%;
  }

  .hrbar{
    margin-left: 6%;
    margin-top: 1%;
    width: 85%;
    background-color: rgb(187, 185, 185);
    color: rgb(187, 185, 185);
   
  }
  
  
  .div5{
   
    width: 95%;
    height: 100%;
    margin-top: 1.5%; 
    margin-left: 2%;   
    text-align: center;
    position: relative;
    justify-content: center;
    border-radius: 10px;
    
  
  }

  .go{
    margin-left: -83%;
    font-weight: 700;
    font-size: large;
    cursor: pointer;
  }
  
  h3{
    color: black;
  
  }
  
  .topSection{
    display: flex;
    color: black;
    
  }
  
  .dp{
    width: 280px;
    height: 300px;
    margin: 3%;
    margin-left: 5%;
    border-radius: 100%;
    object-fit: cover;
  }
  
  label{
    line-height: 30px;
    font-size: 16px;
  }
  
  .personal{
    margin-top: 5%;
    margin-left: 2%;
    text-align: left;
  }
  
  .edit{
    color: black;
    margin-top:5.8% ;
    margin-left: 36%;
  }

  .bio{
    margin-left: -45%;
    position: absolute;
    font-size: large;
    font-weight: 500;
    text-align: justify;
    width: 85%;
    
  }

  .divBio{
    height: fit-content;
    padding-block-end: 3%;
  }

  .bioHead{
    font-size: large;
    font-weight: 500;
  }
  
  .bottomSection{
    display: flex;
    margin-top: 5%;
    color: black;
    padding-block-end: 3%;

  }
  
  .contact{
    text-align: left;
    margin-left: 5%;
    width: 50%;
  }
  
  .qualification{
    text-align: left;
    margin-left: 10%;
    width: 45%;
  }
  
  .verify{
    color:blue;
    text-decoration: underline;
  }
  

    

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #fffdfd; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #1A285A; 
  border-radius: 10px;
  width: 8px;
  height: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1A285A; 
}


 @media screen and (max-width:1450px) {

    .hrbar{
      margin-left: 6%;
      margin-top: 1%;
      width: 86%;
      background-color: rgb(187, 185, 185);
      color: rgb(187, 185, 185);
     
    }

    .divBio{
      margin-bottom: 10%;
    }

    .dp{
        width: 250px;
        height: 270px;
        margin: 3%;
        margin-left: 5%;
        border-radius: 100%;
        object-fit: cover;
    }

    .edit{
      margin-left: 30%;
    }
  
  }
  
  
  @media screen and (max-width:1220px) {

    .hrbar{
      margin-left: 6%;
      margin-top: 1%;
      width: 90%;
      background-color: rgb(187, 185, 185);
      color: rgb(187, 185, 185);
     
    }

    .divBio{
      margin-bottom: 10%;
    }

    .dp{
        width: 250px;
        height: 270px;
        margin: 3%;
        margin-left: 5%;
        border-radius: 100%;
        object-fit: cover;
    }

    .edit{
      margin-left: 24%;
    }
  
  }
  
  @media screen and (max-width: 1050px) {
    
    .divBio{
      margin-bottom: 15%;
    }

    .dp{
        width: 250px;
        height: 270px;
        margin: 3%;
        margin-left: 5%;
        border-radius: 100%;
        object-fit: cover;
    }

    .edit{
      margin-left: 15%;
    }
    
  }

  @media screen and (max-width: 900px) {

    .divBio{
      margin-top: 2%;
      margin-bottom: 22%;
    }

    .dp{
        width: 220px;
        height: 240px;
        margin: 3%;
        margin-left: 5%;
        border-radius: 100%;
        object-fit: cover;
    }

    .edit{
      margin-left: 8%;
    }

  }

    @media screen and (max-width: 800px) {

      .topSection{
        display: inline;
      }

      .bottomSection{
        display: inline;
      }

      .personal{
        margin-left: 30%;
      }

    .divBio{
      margin-top: 2%;
      margin-bottom: 23%;
    }

    .dp{
        width: 230px;
        height: 250px;
        margin: 3%;
        margin-left: 5%;
        border-radius: 100%;
        object-fit: cover;
    }

    .edit{
      margin-left: 63%;
     
    }

    .qualification{
      margin-left: 30%;
      margin-top: 3%;
    }

    .contact{
      margin-left: 30%;
      margin-top: 3%;
    }

  }

  
    @media screen and (max-width: 600px) {

      .topSection{
        display: inline;
      }

      .bottomSection{
        display: inline;
      }

      .personal{
        margin-left: 25%;
      }

    .divBio{
      margin-top: 2%;
      margin-bottom: 35%;
    }

    .dp{
        width: 200px;
        height: 220px;
        margin: 3%;
        margin-left: 5%;
        border-radius: 100%;
        object-fit: cover;
    }

    .edit{
      margin-top: 1%;
      margin-bottom: 1%;
      margin-left: 63%;
     
    }

    .contact{
      margin-left: 25%;
      width: 80%;
    }

    .qualification{
      margin-left: 25%;
      margin-top: 3%;
      width: 80%;
    }

  }
  
  