
  /* Information */

.ifnot{
  width: 100%;
  height: 20%;
  margin-top: -30%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  font-size: 22px;
  font-weight: 500;
  text-align: center;

}

  
  hr {
    width: 90%;
    margin-left: 5%;
    
  }

  .topic{
    margin-left: 6%;
    margin-top: 1.5%;
}

 .hrbar{
    margin-left: 6%;
    margin-top: 1%;
    width: 93%;
    background-color: rgb(187, 185, 185);
    color: rgb(187, 185, 185);
   
 }
  
  .div4{
      display: flex;
      margin: 4% 3%;
      margin-left: 6%;
      border-radius: 5px;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 95%;
      height: 85%;
  }
  
  select{
      width: 60%;
      padding: 2% 2%;
      padding-right: 2%;
      font-size: 16px;
      border-radius: 20px;
      background-color:  #1A285A;;
      color: white;
      margin-top: 3%;
      margin-bottom: 3%;
      margin-left: 20%;
      height: 6%;
      cursor: pointer;
      border: none;
  }

  option{
      width: 80%;
      padding: 8px 8px;
      background-color: white;
      color: black;
      cursor: pointer;
  }

  /* .option:hover{
    background: #1A285A;
    color: white;
  } */

  /* select:focus {
  outline: none;
  background-color: #1A285A;
  
} */

  option:hover{
    background-color: #1A285A;
    color: white;
    cursor: pointer;
  
  }
  
  .div5{
     
      width: 35%;
      height: 100%;
      border-radius: 10px;
      margin-top: -2%;
      align-items: center;
      justify-content: center;
      position: relative;
      background-color: #ebebf9;
      
      
  }
  
  .studentList{
      margin-top: 0px;
      overflow: auto;
      height: 630px;
  }
  
  .div6{
     
      width: 60%;
      position: relative;
      height: 100%;
      margin-right: 2%; 
      margin-left: 2%; 
      margin-top: -2%;  
      justify-content: center;
      text-align: center;
      border-radius: 10px;
      display: flex;
      background-color: #ebebf9;
      
      
  }
  
  h3{
      color: black;
  
  }
  
  .student{
      text-align: center;
      color: black; 
      width: 80%;
      margin-left: 10%;
      margin-top: 5%;
      margin-bottom: 5%;
      text-decoration: none;
      font-size: 18px;
      border: 1px solid;
      border-radius: 20px; 
      padding: 2% 2%;
      cursor: pointer;
      background-color: white;
      
      
  }



  .student:hover{
    background-color: gold;
    transition-duration: 0.6s;
  }

 
  .imageSection{
     
      width: 30%;
      height: 550px;
      margin: 1%;
      justify-content: center;
      align-items: center;
  }
  
  .img{
      width: 250px;
      height: 250px;
      background-color: rgb(209, 209, 201);
      border-radius: 100%;
      margin-left: 1%;
      margin-top: 30%;
  }
  
  .dpImg{
      width: 250px;
      height: 250px;
      border-radius: 100%;
      object-fit: cover;
  }
  
  .btnDiv{
      margin-top: 30%;
      justify-content: center;
      align-items: center;
      margin-left: 5%;
  }
  
  .accept{
      border-radius: 20px; 
      width: 50%;
      height: 30px;
      margin-top: 20%;
      cursor: pointer;
  }
  
  .accept:hover{
      background-color: gold;
      transition-duration: 0.6s;
  }
  
  .decline{
      border-radius: 20px; 
      width: 50%;
      height: 30px;
      margin-top: 20%;
      cursor: pointer;
      
  }
  
  .decline:hover{
      background-color: red;
      transition-duration: 0.6s;
  }

  .remove{
    border-radius: 20px; 
    width: 50%;
    height: 30px;
    margin-top: 20%;
    cursor: pointer;
    
}

.remove:hover{
    background-color: red;
    transition-duration: 0.6s;
}
  
  
  .infoSection{
    
      width: 65%;
      height: 550px;
      margin-top: 7%;
      margin-left: 7%;
      justify-content: left;
      text-align: left;
      line-height: 30px;
  }
  
  .noted{
    margin-left: 2%;
  }

  label{
      margin-top: 5%;
      margin-left: 2%;
      font-size: 16px;
      font-weight: 700;
      
  }

  .note{
    margin-left: 2%;
    margin-top: 25%;
  }
  
  

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #fffdfd; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #1A285A; 
  border-radius: 10px;
  width: 8px;
  height: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1A285A; 
}





.detCancel{
  font-weight: 500;
}

textarea{
  width: 100%;
  height: 80%;
  resize: none;
  border-radius: 5px;
  border: 1px solid #878787;
}

/* The Modal (background) */
.modalCancel {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modalCancel-content {
  display: grid;
  grid-gap: 10px;
  padding: 20px;
  background-color: #fefefe;
  margin-left: 30%;
  margin-top: 5%;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
  border-radius: 20px;
}

/* The Close Button */
.closeC {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  width: 5%;
}

.closeC:hover,
.closeC:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


#removeBtnC{
background: #7e2222;
background-image: -webkit-linear-gradient(top, #7e2222, #7e2222);
background-image: -moz-linear-gradient(top, #7e2222, #7e2222);
background-image: -ms-linear-gradient(top, #7e2222, #7e2222);
background-image: -o-linear-gradient(top, #7e2222, #7e2222);
background-image: linear-gradient(to bottom, #7e2222, #7e2222);
-webkit-border-radius: 11;
-moz-border-radius: 11;
border-radius: 40px;
width: 45%;
height: 40px;
margin-left: 26%;
margin-top: -5%;
padding: 5px;
font-family: 'Inter';
color: #ffffff;
font-size: 17px;
text-align: center;
text-decoration: none;
border: none;
position: relative;
cursor: pointer;
}

#removeBtnC:hover {
background: #7e1c82;
background-image: -webkit-linear-gradient(top, #f2c23d, #f2c23d);
background-image: -moz-linear-gradient(top, #f2c23d, #f2c23d);
background-image: -ms-linear-gradient(top, #f2c23d, #f2c23d);
background-image: -o-linear-gradient(top, #f2c23d, #f2c23d);
background-image: linear-gradient(to bottom, #f2c23d, #f2c23d);
text-decoration: none;
color: black;
}

  @media screen and (max-width:1250px) {

    .img{
      width: 200px;
      height: 200px;
      background-color: rgb(209, 209, 201);
      border-radius: 100%;
      margin-left: 1%;
      margin-top: 30%;
  }
  
  .dpImg{
      width: 200px;
      height: 200px;
      border-radius: 100%;
      object-fit: cover;
  }
    
  }
  
  @media screen and (max-width: 1000px) {

    .img{
      width: 150px;
      height: 150px;
      background-color: rgb(209, 209, 201);
      border-radius: 100%;
      margin-left: 1%;
      margin-top: 30%;
    }
    
    .dpImg{
        width: 150px;
        height:150px;
        border-radius: 100%;
        object-fit: cover;
    }

    .accept{
      border-radius: 20px; 
      width: 60%;
      height: 30px;
      margin-top: 20%;
      cursor: pointer;
    }

    .decline{
      border-radius: 20px; 
      width: 60%;
      height: 30px;
      margin-top: 20%;
      cursor: pointer;
      
    }
      
      
  }

  @media screen and (max-width: 900px) {
          
    .div4{
      display: inline;
    }

    .div5{
      width: 80%;
      margin-left: 10%;
      height: 300px;
      margin-bottom: 1%;
    }

    .div6{
      width: 80%;
      height: 60%;
      margin-top: 1%;
      margin-left: 10%;
    }


    .img{
      width: 150px;
      height: 150px;
      background-color: rgb(209, 209, 201);
      border-radius: 100%;
      margin-left: 1%;
      margin-top: 30%;
    }
    
    .dpImg{
        width: 150px;
        height:150px;
        border-radius: 100%;
        object-fit: cover;
    }

    .accept{
      border-radius: 20px; 
      width: 70%;
      height: 30px;
      margin-top: 20%;
      cursor: pointer;
    }

    .decline{
      border-radius: 20px; 
      width: 70%;
      height: 30px;
      margin-top: 20%;
      cursor: pointer;
      
    }

    select {
      height: 45px;
    }

    .hrbar{

      width: 85%;
      margin-bottom: 1.5%;
    }
      
  }